@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Martel+Sans&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body{
    font-family: "Montserrat Alternates", sans-serif;
    background: linear-gradient(135deg, #e1f6fc 0%, #f5fdff 50%, #fae1ee 100%);
    
    height: 100vh;
    margin: 0;
}

.navbar{
    position: fixed;
    display: flex;
    font-size: larger;
    font-weight: 600;
    top: 0;
    width: calc(100% - 70px);
    height: 60px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
}
svg{
    margin-top: 3px;
}
.campus-icon{
    width: 50px;
    height: 40px;
    color: #375bb5;
    padding-left: 230px;
}
.logo{
    color: #375bb5;
    display: flex;
}
.navbar .navlinks a {
    text-decoration: none;
    margin-left: 10px;
    color: #375bb5;
    transition: opacity 0.2s;
}
.navbar .navlinks a:hover{
    opacity: 0.6;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.login-card{
    background-color: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
}
h1{
    color: #003366;
    margin-bottom: 5px;
}
.welcome, .instruction, .footer-note{
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}
form{
    text-align: left;
}
form label{
    display: block;
    margin-top: 10px;
}
form input{
    width: calc(100% - 100px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
}
.remember{
    font-size: 14.6px;
    color: #333;
}
.forgot{
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}
button[type="submit"]{
    width: 100%;
    padding: 12px;
    background-color: #2a52b6;
    color: white;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.altr-signin-label{
    text-align: center;
    margin-top: 30px;
}
.altr-signin-label p{
    font-size: 15px;
    color: #888;
}
.altr-signin{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}
.altr-signin p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    color: #888;
    margin-bottom: 10px;
}
.google, .phn-num{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 180px;
    padding: 10px 16px;
    margin: 5px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eb6868;
    color: white;
}
.google:hover {
  background: linear-gradient(to right, #f44336, #c62828);
  transform: scale(1.02);
  transition: all 0.4s ease;
}
.google-icon{
    width: 20px;
    height: 20px;
}
.phn-num{
    background-color: #757876;
    color: white;
}
.phn-num:hover {
  background-color: #5c5f61;
  transform: scale(1.02);
  transition: all 0.4s ease;
}

.signup{
    margin-top: 20px;
    font-size: 14px;
}
.signup a{
    text-decoration: none;
    color: #007bff;
}
.footer-note{
    margin-top: 60px;
    margin-bottom: 0;
}